---
import {getCollection, render} from 'astro:content'

import Layout from "../../layouts/TitleLayout.astro";
import Prose from "../../components/Prose.astro";

export const prerender = true;

export async function getStaticPaths() {
    const posts = await getCollection("posts");
    return posts.map(post => ({
        params: {
            slug: post.id === "index" ? undefined : post.id
        },
        props: {post: post},
    }));
}

const {post} = Astro.props;
const {Content} = await render(post);
---

<Layout>
    <h1 class="text-white text-5xl text-center">{post.data.title}</h1>
    <p class="text-neutral-400 text-sm text-center mb-16">
        {`Posted on ${new Date(post.data.pubDate).toLocaleDateString('en-US', {
            year: 'numeric',
            month: 'long',
            day: 'numeric'
        })}`}
    </p>

    <div class="mb-16">
        <Prose>
            <Content/>
        </Prose>
    </div>
</Layout>