---
import Menu from "@icons/Menu.astro";
import {Image} from "astro:assets";

interface Props {
    siteLogo: string;
    navLinks: { title: string; url: string }[];
}

const {siteLogo, navLinks} = Astro.props;
const currentPath = Astro.url.pathname;
---

<header class="sticky top-0 z-50 mx-auto flex max-w-5xl justify-between bg-black px-5 py-6">
    <a href="/" aria-label="Home link">
        <Image class="rounded-full"
               src={siteLogo}
               width="45"
               height="45"
               alt="website logo"/>
    </a>

    <button type="button"
            id="menu-button"
            class="px-1.5 text-neutral sm:hidden"
            aria-expanded="false"
            aria-controls="main-menu">
        <Menu/>
    </button>

    <nav class="absolute top-20 right-5 hidden rounded-xl border border-neutral/40 bg-black px-4 py-5 text-neutral sm:static sm:block sm:border-0 sm:bg-transparent sm:p-0"
         id="main-menu">
        <ul class="gap-2 sm:flex">
            {
                navLinks.map(({title, url}) => {
                    const isActive = currentPath === url || (url !== '/' && currentPath.startsWith(url));
                    return (
                        <li class="relative">
                            <a href={url}
                               class={`nav-item relative block p-2 text-sm font-medium transition-all duration-500 after:absolute after:bottom-0 after:left-2/4 after:h-2 after:w-1 after:-translate-x-2/4 after:text-primary-600 after:content-['•'] hover:text-white ${
                                   isActive ? 'text-white md:after:opacity-100' : 'after:opacity-0'
                               }`}>
                                {title}
                            </a>
                        </li>
                    )
                })
            }
        </ul>
    </nav>
</header>

<script>
    // Toggle mobile menu
    const button = document.querySelector("#menu-button");
    const menu = document.querySelector("#main-menu");
    const navItems = document.querySelectorAll("#main-menu > ul > li > a");

    const toggleMenu = () => {
        menu?.classList.toggle("hidden");
        const isHidden = menu?.classList.contains("hidden");
        button?.setAttribute("aria-expanded", `${!isHidden}`);
    };

    button?.addEventListener("click", toggleMenu);
    navItems.forEach((item) => {
        item?.addEventListener("click", toggleMenu);
    });
</script>